{% extends 'base.html' %}

{% block header %}
<title>Cookooha!</title>
<style>
    body {
      font-family: Arial, sans-serif;
    }

</style>
{% endblock %}

{% block content %}
<main class="container mt-3 mb-5">
    <section class="jumbotron text-center">
        <img src="../static/icon-banner.svg" alt="" width="156">
        <h1 class="h1 mt-4 mb-3 font-weight-bold">Все, что в доме есть<br>Нужно быстро съесть!</h1>
        <p>Инновационный подбор рецептов Cookooha Tech</p>
        <a href="{{url_for('render_wizard')}}" class="btn btn-warning rounded-pill px-4"><b>Поехали, кукуха!</b></a>
    </section>

    <section class="py-4 mb-5">
        <h2 class="h3 pb-4 mb-3 text-center font-weight-bold">Как работает Кукуха?</h2>
        <div class="row align-items-stretch">
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div style="height: 80px;line-height: 80px;">
                            <img src="../static/icon-fridge.svg" alt="" width="72" class="align-bottom">
                        </div>
                        <p class="pt-3 card-text">Отмечаете, что в холодильнике</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div style="height: 80px;line-height: 80px;">
                            <img src="../static/icon-list.svg" alt="" width="59" class="align-bottom">
                        </div>
                        <p class="pt-3 card-text">Получаете список <br>рецептов</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div style="height: 80px;line-height: 80px;">
                            <img src="../static/icon-flame.svg" alt="" width="62" class="align-bottom">
                        </div>
                        <p class="pt-3 card-text">Готовите блюдо по инструкции</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div style="height: 80px;line-height: 80px;">
                            <img src="../static/icon-smile.svg" alt="" width="75" class="align-bottom">
                        </div>
                        <p class="pt-3 card-text">Что получилось, то получилось!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mx-auto" style="width: 85%;">
        <section class="text-center card">
            <h2 class="h3 py-5 mb-3 font-weight-bold">Самые популярные <br>рецепты</h2>

            <div class="row">
                {% for recipe in list_recipes %}
                <div class="col-lg-4 col-sm-6 border-right pr-0">
                    <div class="border-top py-4 px-5 h-100">
                        <a href="{{url_for('render_recipe', recipe_id=recipe['recipe_id'])}}" class="d-block pb-3">
                            <!--img src="../static/recipe-1.jpg" alt="" width="124" class="rounded-circle"-->
                            <img src="{{recipe['picture']}}" alt="" width="124" class="rounded-circle">
                        </a>
                        <a href="{{url_for('render_recipe', recipe_id=recipe['recipe_id'])}}">{{recipe['recipe_name']}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </section>
    </section>
</main>
{% endblock %}

